In [40]:
import numpy as np
import pandas as pd

In [41]:
def get_energy():
    energy = pd.read_excel('Energy Indicators.xls',
                          skiprows = 17,
                          skipfooter = 38,
                          usecols = [2,3,4,5],
                          names = ['Country','Energy Supply','Energy Supply per Capita','% Renewable'],
                          na_values = '...')
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000
    energy['Country'] = energy['Country'].str.replace(' \(.*\)','')
    energy['Country'] = energy['Country'].str.replace('[0-9]*','')
    energy['Country'] = energy['Country'].replace({"Republic of Korea": "South Korea",
                                                       "United States of America": "United States",
                                                       "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                                                       "China, Hong Kong Special Administrative Region": "Hong Kong"})
    return energy

In [42]:
GDP = pd.read_csv('world_bank.csv',skiprows = 4)
GDP['Country Name'] = GDP['Country Name'].replace({"Korea, Rep.": "South Korea", 
                                                   "Iran, Islamic Rep.": "Iran",
                                                   "Hong Kong SAR, China": "Hong Kong"})
for i in range(1960, 2006):
    GDP.drop([str(i)], axis=1, inplace=True)
drop_list1 = ['Country Code','Indicator Name','Indicator Code']
for i in drop_list1:
    GDP.drop(i, axis=1, inplace=True)
GDP.rename(columns={'Country Name':'Country'}, inplace=True)
GDP.head()

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [47]:
ScimEn = pd.read_excel('scimagojr-3.xlsx')
ScimEn = ScimEn.iloc[0:5]
ScimEn.columns.names

FrozenList([None])

In [44]:
temp = pd.merge(energy, GDP, how='inner')
p = pd.merge(temp, ScimEn, how='inner')
p.set_index('Country')
p = p[['Rank',
       'Documents',
       'Citable documents',
       'Citations',
       'Self-citations',
       'Citations per document',
       'H index',
       'Energy Supply',
       'Energy Supply per Capita',
       '% Renewable',
       '2006',
       '2007',
       '2008',
       '2009',
       '2010',
       '2011',
       '2012',
       '2013',
       '2014',
       '2015']]
p

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
2,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
3,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

In [45]:
def get_energy1():
        
    ###########################
    # Part One
    # Enery Indicators.xls
    # 
    energy_df = pd.read_excel('Energy Indicators.xls', skiprows=16)
    del energy_df['Unnamed: 0']
    del energy_df['Unnamed: 1']
    
    # Drop NA data in excel
    energy_df.dropna(inplace=True)
    
    # change the column labels ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy_df.rename(columns={"Unnamed: 2":"Country", "Renewable Electricity Production": "% Renewable", "Energy Supply per capita": "Energy Supply per Capita"}, inplace=True)

    # Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule).
    energy_df.replace('...', np.NaN, inplace=True)

    # For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values
    energy_df['Energy Supply'] = energy_df['Energy Supply'] * 1000000

    # There are also several countries with numbers and/or parenthesis in their name
    energy_df['Country'] = energy_df['Country'].str.replace(' \(.*\)', '')
    energy_df['Country'] = energy_df['Country'].str.replace('[0-9]*', '')

    # Rename the following list of countries
    x = {
    "Republic of Korea": "South Korea",
    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "China, Hong Kong Special Administrative Region": "Hong Kong"
    }

    for item in x:
        energy_df['Country'].replace(item, x[item], inplace=True)
        
    return energy_df
x = np.array(get_energy()['Country']) == np.array(get_energy1()['Country'])
np.array(get_energy1()['Country'])[~x]

array([], dtype=object)

In [46]:
# list(get_energy1()['Country'])

In [49]:
!cd d:\Downloads